# --- SEGURIDAD ---
# Variables de entorno
.env

# --- DATOS DEL PROYECTO ---

# Bloquear todas las SALIDAS (evita subir cálculos personales o confidenciales)
data/outputs/

# Bloquear los ENTRADAS (evita subir tus bases de cotización reales)
data/inputs/

# Bloquear los ficheros temporales
data/temp/

# Bloquear los ficheros de testing
data/temp/

# OPCIONAL: Si quieres que la carpeta de entradas aparezca en Git 
# pero vacía (solo las plantillas), puedes añadir estas excepciones:
# !data/inputs/plantilla_vacia.csv
!data/inputs/.gitkeep
!data/outputs/.gitkeep

# --- PYTHON ---
__pycache__
__pycache__/
app/__pycache__/
.app/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- ARCHIVOS DE SISTEMA / IDE ---
.vscode/
.idea/
.DS_Store
Thumbs.db
.syncmetadata

# --- FICHEROS TEMPORALES ---
*.tmp
*.log
app/__pycache__/Core.cpython-312.pyc
app/__pycache__/Core.cpython-312.pyc
app/__pycache__/EURconverter_pro.cpython-312.pyc
app/__pycache__/FIFO_calculator.cpython-312.pyc
app/__pycache__/Fiscal_Reporter_ES.cpython-312.pyc
